
@media screen and (min-width: 1023px){
    #hamburger-menu {
        display: none;
    }
    
}

@media screen and (max-width: 1023px) {

header{
	background-color: #f0e2f5;
}

	
header img {
    max-width: 160px;
    width: 320px;
    max-height: 90px;
    height: 140px;
}

header .logo img {
    text-align: center;
    margin-bottom: 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

	.menu--closed {
		display: none;
	}

    .menu-nav .menu .menu--closed{
        display: none;
    }

	.menu ul.active {
		display: flex;
	}
	.menu li {
		margin: 10px 0;
	}
    .menu-nav .menu .menu--open{
        display: block;
		position: absolute;
		top: 90px;
		left: 0;
		right: 0;
		background-color: #eccff1;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 20px;
		flex-direction: column;
		align-items: center;
    }
    .menu-nav .menu{
        background-color: rgba(150, 3, 163, 0);
        max-height: 1px;
    }
	nav ul li a{
		font-size: 22px;
	}


	#hamburger-menu {
		display: block;
		position: absolute;
		top: 40px;
		right: 20px;
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
	#hamburger-menu span {
		transition: transform 0.3s ease;
		background-color: #310052;
	}

	//section bem vindo 

	section img{
		max-width: 160px;
		width: 200px;
		height: 800px;
		max-height: 150px;
	}
	.col-md-6 h2 {
		font-family: 'Pacifico', cursive;
		color: rgb(62, 62, 63);
		text-align: center;
		font-size: 18px;
	}

	#bem-vindo .col-md-6 p{
		text-align: center;
		font-family: 'Shantell Sans', sans-serif;
		font-size: 14px;
		color: rgb(105, 104, 108);
		padding-bottom: 1px;
	}
	#bem-vindo .col-md-6{
		max-width: 50%;
	}
// buttons bem-vindo
.button {
	display: block;
	padding: 4px;
	margin-bottom: 8px;
	color: #393838;
	text-transform: uppercase;
	font-size: 10px;
	text-align: center;
	text-decoration: none;
	margin-top: 1px;
	
	background-color: rgba(36, 185, 180, 0.747);
	&:hover {
	  background-color: rgba(14, 223, 216, 0.747);
	  color: black;
	}
  }
  
  section a {
	  max-width: 100%;
	  text-align: center;
	  align-items: center;
	  margin-right: 1px;
	  margin-left: 1px;
  }
  #bem-vindo .nosso-lar{
    padding-top: 18px ;
}

.video-apresentacao iframe{
    max-width: 100%;
    width: 800px;
    max-height: 200px;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 100px;
}
.apresentacao-tati .container h1{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
	font-size: 20px;
}
.apresentacao-tati .container p{
    font-family: 'Poppins', sans-serif;
    max-width: 900px;
    color: rgb(68, 70, 70);
	font-size: 14px;
}
.apresentacao-tati .container h5{
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    padding-top: 30px;
    color: rgb(68, 70, 70);
	font-size: 16px;
}
}



@media screen and (max-width: 398px){
	section img{
		max-width: 160px;
		width: 200px;
		height: 800px;
		max-height: 190px;
	}
}
@media screen and (max-width: 368px){
	section img{
		max-width: 160px;
		width: 200px;
		height: 800px;
		max-height: 240px;
	}
}