//primeira section

.col-md-6 h2 {
    font-family: 'Pacifico', cursive;
    color: rgb(62, 62, 63);
    text-align: center;
    font-size: 46px;
}
#bem-vindo .col-md-6 p{
    text-align: center;
    font-family: 'Shantell Sans', sans-serif;
    font-size: 20px;
    color: rgb(105, 104, 108);
    padding-bottom: 35px;
}

section img {
    max-width: 410px;
    width: 500px;
    max-height: 400px;
    height: 500px;
}

#bem-vindo .nosso-lar{
    padding-top: 50px ;
}

#bem-vindo{
    background-color: rgb(204, 176, 213);
}
// section apresentaçao da Tati

.apresentacao-tati .container{
    text-align: center;
    max-width: 100%;
    background-color: rgb(232, 212, 240);
}
.apresentacao-tati .container h5{
    font-family: 'Shantell Sans', cursive;
    
    padding-top: 30px;
    color: rgb(68, 70, 70);
}

.container h1 .color1{
color: rgb(47, 182, 182);
}
.container h1 .color2{
    color: rgba(133, 42, 128, 0.897);
    }

.apresentacao-tati .container h1{
    font-family: 'Pacifico', cursive;
}
.apresentacao-tati .container p{
    font-family: 'Shantell Sans', cursive;
    max-width: 900px;
    margin: 0 auto;
    color: rgb(68, 70, 70);
}
.video-apresentacao iframe{
    max-width: 800px;
    width: 800px;
    max-height: 400px;
    height: 400px;
    margin-top: 40px;
    margin-bottom: 100px;
}